name: publish
on:
  create:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  binaries:
    env:
      GH_TOKEN: ${{ github.token }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - run: |
          ./build.sh
          gh release create ${{ github.ref_name }} build/*/*.tar.* || gh release upload ${{ github.ref_name }} build/*/*.tar.*
  win-binary:
    env:
      GH_TOKEN: ${{ github.token }}
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - run: |
          ./Build.ps1
          Compress-Archive -Path build/* -Destination win-x64.zip
          gh release create ${{ github.ref_name }} win-x64.zip || gh release upload ${{ github.ref_name }} win-x64.zip
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: |
          ./gen-docs.sh
      - uses: netlify/actions/cli@master
        with:
          args: deploy --dir=docs/.vitepress/dist --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
